.heading {
  margin-top: -2.5rem;
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
}

div section {
  background-color: black;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  offset-position: 0;
  width: 100%;
}

.articleLists {
  background-color: black;
  margin-top: 2.5rem;
}