.heading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}

section {
  background-color: black;
}

h1 {
  top: 0;
  z-index: 2;
  position: fixed;
}

NavBar {
  z-index: 1;
  bottom: 0;
  position: fixed;
}

.articleLists {
  background-color: black;
  margin-top: 2.5rem;
}