.heading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}

title {
  width: 100%;
  display: block;
}

.navBar {
  display: block;
  width: 100%;
}

h1 {
  top: 0;
  z-index: 2;
  width: 100%;
  color: white;
  position: fixed;
}

.articleLists {
  background-color: black;
  margin-top: 2.5rem;
}